@plugin "daisyui/theme" {
  name: 'light';
  default: true;
  --color-primary: #4864e1;
}

@plugin "daisyui" {
  themes: light --default;
}

@utility btn {
  @apply rounded-[8px] font-medium px-[24px] py-[8px] h-[45px] shadow-none;
}

@utility btn-primary {
  @apply text-white bg-primary-900 border-0 hover:bg-[rgba(58,84,201,1)] active:bg-[rgba(47,63,170,1)];
}

@utility btn-outline {
  @apply hover:bg-white hover:border-[rgba(58,84,201,1)] active:border-[rgba(47,63,170,1)] hover:text-[rgba(58,84,201,1)] active:text-[rgba(47,63,170,1)];
}

@utility btn-ghost {
  @apply hover:bg-white;
}

@utility btn-success {
  @apply text-white bg-secondary-900 border-0 hover:bg-[rgba(47,158,108,1)] active:bg-[rgba(30,127,83,1)];
}
