@plugin "daisyui/theme" {
  name: 'light';
  default: true;
}

@plugin "daisyui" {
  themes: light --default;
}

@utility btn {
  @apply border-none text-base rounded-lg font-semibold px-4 py-2 h-[45px] shadow-none ;
}

@utility btn-primary {
  @apply text-white bg-primary-900 hover:bg-[rgba(58,84,201,1)] active:bg-[rgba(47,63,170,1)];
}

@utility btn-outline {
  @apply hover:bg-white hover:border-[rgba(58,84,201,1)] active:border-[rgba(47,63,170,1)] hover:text-[rgba(58,84,201,1)] active:text-[rgba(47,63,170,1)];
}

@utility btn-ghost {
  @apply hover:bg-white;
}

@utility btn-success {
  @apply text-white bg-secondary-900 hover:bg-[rgba(47,158,108,1)] active:bg-[rgba(30,127,83,1)];
}

@utility btn-disabled {
  @apply bg-[#F2F2F2]! text-[#D1D1D1];
}

@utility btn-soft {
  @apply text-primary-900 bg-[#F0F3FD];
}
