@plugin "daisyui/theme" {
  name: 'light';
  default: true;
}

@plugin "daisyui" {
  themes: light --default;
}

@utility btn {
  @apply text-base rounded-lg font-semibold px-4 py-2 h-10 shadow-none;
}

@utility btn-primary {
  @apply border-none text-white bg-primary-500 hover:bg-[rgba(58,84,201,1)] active:bg-[rgba(47,63,170,1)];
}

@utility btn-outline {
  @apply border-2 border-gray-200 focus:bg-transparent;
}

@utility btn-ghost {
  @apply border-none hover:bg-white;
}

@utility btn-ghost-primary {
  @apply btn-ghost text-primary-500 bg-[#4864E114];
}

@utility btn-success {
  @apply border-none text-white bg-accent-500 hover:bg-[rgba(47,158,108,1)] active:bg-[rgba(30,127,83,1)];
}

@utility btn-disabled {
  @apply border-none bg-[#F2F2F2]! text-text-muted;
}

@utility btn-soft {
  @apply border-none text-primary-500 bg-[#F0F3FD];
}
