@import './tailwind.css';
@import './daisyui.css';

body {
  font-family: 'yekanBakh-regular', sans-serif;
}

body,
html {
  overflow-x: hidden;
}

* {
  letter-spacing: normal !important;
  line-height: 35px;
}

button {
  transition: all 0.2s linear;
}
