@import './tailwind.css';
@import './daisyui.css';
@import './icomoon/style.css';
@import './fonts.css';
@import './transitions.css';

body {
  font-family: 'yekanBakh-regular', sans-serif !important;
}

body,
html {
 /* overflow-x: hidden created some issue in sticky aside sections in terms page */
  overflow-x: clip; 
  background-color: #fafafa;
}

* {
  letter-spacing: normal !important;
  /* line-height: 35px; */
}

button {
  transition: all 0.2s linear;
}

/* مخفی کردن اسکرول‌بار */
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.no-scrollbar::webkit-scrollbar {
  display: none;
}

/* دایره‌ای کردن محدوده کراپ در آپلود تصویر */
.cropper-view-box,
.cropper-face {
  border-radius: 50%;
}

/* toast شخصی‌سازی */
.toast-custom {
  font-family: 'yekanBakh-regular', sans-serif !important;
}
